* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_section {
  /* width: 100vw; */
  /* border: 1px solid red; */
  /* height: 100vh; */
}

.cust_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cust_btn a{
  text-decoration: none;
  text-align: center;
  color: black;
}

.home_section_grid {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.inner_section {
  /* border: 1px solid orange; */
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-content: center;
  align-items: center;
}

.inner_sections{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-content: center;
  align-items: center;
}

.inner_sections:hover{
  transform: scale(0.9);
}

.inner_section h4{
  /* border: 1px solid pink; */
  text-align: center;
}

.inner_sections h6{
  /* border: 1px solid pink; */
  text-align: center;
}

/* FormScreen.js */

.form_section {
  height: 90vh;
  /* width: 100vw; */
  margin: 2%;
}

.form_section_grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.form_section_comp {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 20% 80%;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  width: 40%;
  margin: 1%;
  padding: 1% 2%;
  border-radius: 20px;
}

input[type="text"] {
  border: 0;
  border-bottom: 1px solid black;
  height: 1rem;
}

input[type="date"] {
  border: 0;
  border-bottom: 1px solid black;
  height: 1rem;
}

input[type="radio"] {
  height: 1rem;
  padding-left: 5px;
}

.form_section_comp textarea {
  border: 0;
  width: 34rem;
  height: 10rem;
  resize: none;
}

input:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

.button {
  width: 10%;
  background-color: rgb(50, 241, 66);
  margin-bottom: 3%;
  border: 0;
  border-radius: 10px;
  padding: 0.5% 0%;
}
